# 依赖文件夹
node_modules/

pic/
# 构建输出文件夹
dist/

# 本地环境变量文件
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器配置 (可选)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store