/* Fraunces - latin */
/*NOTE: Please note that after adjusting the font family and .ttf file, this font will not be displayed. If you wish to use it, please declare it manually.*/
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
  src: url('/fonts/Fraunces-VF.woff2') format('woff2');
}

@font-face {
  font-family: 'Fraunces';
  font-style: italic;
  font-weight: 300 600;
  font-display: swap;
  src: url('/fonts/Fraunces-Italic-VF.woff2') format('woff2');
}

/* Hanken Grotesk - latin */
/*NOTE: Please note that after adjusting the font family and .ttf file, this font's italic version will not be displayed. If you wish to use it, please declare it manually.*/
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
  src: url('/fonts/HankenGrotesk-VF.woff2') format('woff2');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 300 600;
  font-display: swap;
  src: url('/fonts/HankenGrotesk-Italic-VF.woff2') format('woff2');
}

/* Source Han Serif SC - simplified chinese (partial) */
@font-face {
  font-family: 'Source Han Serif SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/SourceHanSerifSC-subset.woff2') format('woff2');
}

/* Source Han Sans SC - simplified chinese (partial) */
@font-face {
  font-family: 'Source Han Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/SourceHanSansSC-subset.woff2") format('woff2');
}